[t:template,n:2W_skill_runes_container_{{regular_lvl}}]
{
    specializes = base_skill_runes_container;

    common:screen_name = "Skill Runes Level {{veteran_lvl}}";
    [inventory]
    {
        [other]
        {
            il_main = 2W_skill_rune_melee_{{regular_lvl}};
            il_main = 2W_skill_rune_ranged_{{regular_lvl}};
            il_main = 2W_skill_rune_cmagic_{{regular_lvl}};
            il_main = 2W_skill_rune_nmagic_{{regular_lvl}};
        }
    }
}
