[t:template,n:skill_rune_melee_{{lvl}}]
{
	specializes = base_skill_rune_melee;

    common:screen_name = "Melee Level {{lvl}}";
	[skill_rune]
	{
		uber_stat	= {{lvl}};
		melee_stat	= {{lvl}};
		ranged_stat	= 0;
		cmagic_stat	= 0;
		nmagic_stat	= 0;
		int_stat	= {{'%0.2f' % (lvl*0.09)}};
		dex_stat	= {{'%0.2f' % (lvl*0.27)}};
		str_stat	= {{'%0.2f' % (lvl*0.64)}};
	}
}

[t:template,n:skill_rune_ranged_{{lvl}}]
{
	specializes = base_skill_rune_ranged;

    common:screen_name = "Ranged Level {{lvl}}";
	[skill_rune]
	{
		uber_stat	= {{lvl}};
		melee_stat	= 0;
		ranged_stat	= {{lvl}};
		cmagic_stat	= 0;
		nmagic_stat	= 0;
		int_stat	= {{'%0.2f' % (lvl*0.13)}};
		dex_stat	= {{'%0.2f' % (lvl*0.62)}};
		str_stat	= {{'%0.2f' % (lvl*0.25)}};
	}	
}

[t:template,n:skill_rune_cmagic_{{lvl}}]
{
	specializes = base_skill_rune_cmagic;

    common:screen_name = "Combat Magic Level {{lvl}}";
	[skill_rune]
	{
		uber_stat	= {{lvl}};
		melee_stat	= 0;
		ranged_stat	= 0;
		cmagic_stat	= {{lvl}};
		nmagic_stat	= 0;
		int_stat	= {{'%0.2f' % (lvl*0.70)}};
		dex_stat	= {{'%0.2f' % (lvl*0.17)}};
		str_stat	= {{'%0.2f' % (lvl*0.13)}};
	}
}

[t:template,n:skill_rune_nmagic_{{lvl}}]
{
	specializes = base_skill_rune_nmagic;

    common:screen_name = "Nature Magic Level {{lvl}}";
	[skill_rune]
	{
		uber_stat	= {{lvl}};
		melee_stat	= 0;
		ranged_stat	= 0;
		cmagic_stat	= 0;
		nmagic_stat	= {{lvl}};
		int_stat	= {{'%0.2f' % (lvl*0.73)}};
		dex_stat	= {{'%0.2f' % (lvl*0.18)}};
		str_stat	= {{'%0.2f' % (lvl*0.09)}};
	}
}
